
#unmute-button {
	--unmute-margin: 8px;
	--unmute-size : 24px;
	
	position: fixed;
	right: var(--unmute-margin);
	top: var(--unmute-margin);
	border-radius: 50%;
	width: var(--unmute-size);
	height: var(--unmute-size);
	background-color: transparent;
	border: none;
	cursor: pointer;

	svg {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
	}
}